.bg-color{
    background-color: #48256e;
    color: white;
}

.form-floating{
    color: black;
}

@media (max-width: 768px) {
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}
.modal{
    color: black;
}